.task-container{
    
    border-radius: 30px;
    background-color: #f1f1f1;
    
    display: flex;
    align-items: center;
    height: 60px;
    min-width: 600px;
    max-width: 900px;
    /* box-shadow: 3px 4px 4px #888888; */
    justify-content: space-between;
    margin-bottom: 1px;
    
    
}

.task-text h2{
    display: flex;
    cursor: pointer;
    align-items: center;
    white-space: nowrap; 
    overflow: hidden;
    height: 100%;
    text-overflow: ellipsis; 
    padding: 0 30px;
    user-select: none;
    max-width: 450px;
    
    
}

.task-button {
    height: 100%;
}
.task-button :hover{
    background-color: rgba(0, 122, 253, 0.9);
    transition: ease all .5s; 
}

.task-button button{
    outline: none;
    cursor: pointer;
    background-color: rgba(23, 135, 251, 0.9);
    border: none;
    width: 60px;
    color: white;
    height: 100%;
    text-align: center;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    user-select: none;
}

.task-button .button-left{
    border-radius: 50%;
}

.task-button .button-right{
    border-radius:  50% ;
}
.task-isClicked h2{
    transform: translateX(30px);
    user-select: none;
    color: gray;
    text-decoration: line-through;
}


